<% content_for :head do %>  
  <script type="text/javascript">
    // $(document).ready(function() { 
    //   $("#prod_dd").select2();
    //   $("#order_product_id").select2();
    // });
  </script>
<% end %>

<hr>

<%= simple_form_for(order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row mb-4">
    <%= form.label :site_id, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.select :site_id, options_for_select(@sites.map{|site| [site.name, site.id]}), { prompt: 'Select Site' }, { class: "form-control", id: 'site_dd' } %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :is_recurring, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :is_recurring %>
    </div>
  </div>
  <hr>
  <h2>Delievery Days</h2>
  <hr>
  <div class="form-group row mb-4">
    <%= form.label :monday, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :monday %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :tuesday, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :tuesday %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :wednesday, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :wednesday %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :thursday, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :thursday %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :friday, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :friday %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :saturday, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :saturday %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :sunday, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.check_box :sunday %>
    </div>
  </div>
  <hr>

  <h2>Add Products</h2>
  <div class='fields'>
    <%= form.simple_fields_for :product_order_details do |product_order_details_form| %>
      <%= render "product_order_detail", f: product_order_details_form, products: products %>
    <% end %>
  </div>

  <hr>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to_add_row('Add Product', form, :product_order_details, class: 'btn btn-outline-primary') %>
  </div>
<% end %>