<% content_for :head do %>  
  <script type="text/javascript">
    // $(document).ready(function() { 
    //   $("#prod_dd").select2();
    //   $("#order_product_id").select2();
    // });
  </script>
<% end %>

<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row mb-4">
    <%= form.label :site_id, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.select :site_id, options_for_select(sites.map{|site| [site.name, site.id]}), { prompt: 'Select Site' }, { class: "form-control", id: 'site_dd' } %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :product_id, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.select :product_id, options_for_select(products.map{|prod| [prod.name, prod.id]}), { prompt: 'Select Product' }, { class: "form-control", id: 'prod_dd' } %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :quantity, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.text_field :quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row mb-4">
    <%= form.label :special_instructions, class: 'col-sm-2 col-form-label' %>
    <div class='col-sm-10'>
      <%= form.text_field :special_instructions, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>