<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
        <% site.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :street_address_one %>
    <%= form.text_field :street_address_one %>
  </div>

  <div class="field">
    <%= form.label :street_address_two %>
    <%= form.text_field :street_address_two %>
  </div>

  <div class="field">
    <%= form.label :town %>
    <%= form.text_field :town %>
  </div>

  <div class="field">
    <%= form.label :post_code %>
    <%= form.text_field :post_code %>
  </div>

  <div class="field">
    <%= form.label :head_office %>
    <%= form.text_field :head_office %>
  </div>

  <div class="field">
    <%= form.label :invoice_address %>
    <%= form.text_field :invoice_address %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :invoice_email %>
    <%= form.text_field :invoice_email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.text_field :payment_method %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
