<h1>Report</h1>
<p>Delievery Week: <%= Date.today %></p>
<div>
  <table class="table table-bordered w-auto">
    <thead>
      <tr>
        <th>Product</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>

    <tbody class="table table-bordered">
      <% @report_data.each do |detail| %>
        <tr>
          <td> <strong> <%= detail[:product_name] %> </strong> </td>
          <td><%= detail[:monday].nil? ? 0 : detail[:monday]  %></td>
          <td><%= detail[:tuesday].nil? ? 0 : detail[:tuesday] %></td>
          <td><%= detail[:wednesday].nil? ? 0 : detail[:wednesday] %></td>
          <td><%= detail[:thursday].nil? ? 0 : detail[:thursday] %></td>
          <td><%= detail[:friday].nil? ? 0 : detail[:friday] %></td>
          <td><%= detail[:saturday].nil? ? 0 : detail[:saturday] %></td>
          <td><%= detail[:sunday].nil? ? 0 : detail[:sunday]  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>